@import url('https://fonts.googleapis.com/css2?family=Dhurjati&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root {
  --Dhurjati-font: 'Dhurjati', sans-serif;
  --default-skin: #12131F;
  --default-color: ghostwhite;
  --poppins-font: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--default-color);
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 100vh;
  background: var(--default-skin);
}

header {
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
label{
   width: auto;
   height: auto;
   padding: 8px;
}
label > i {
  font-size: 23px;
  cursor: pointer;
  margin: 0;
  padding: 10px
}
label h3{
   font-size: 23pt;
   font-weight: 700;
   font-family: var(--Dhurjati-font);
}
nav {
  width: 140px;
  height: auto;
  left: -150px;
  background-color: rgba(232, 232, 232, 0.9);
  overflow: hidden;
  border-top: 1px solid grey;
  position: absolute;
  z-index: 2;
  transition: left 1s ease;
  -webkit-transition: left 1s ease;
  -moz-transition: left 1s ease;
  -o-transition: left 1s ease;
}

nav ul {
  list-style: none;
}

nav ul li {
  margin: 20px 0 20px 10px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-family: var(--poppins-font);
}
.search-container{
   width: 100%;
   height: auto;
   padding: 20px 30px;
   display: flex;
   justify-content: center;
   align-items: center;
}
#search{
   width: inherit;
   height: auto;
   padding: 10px 8px;
   background: #F1F2F9;
   outline: none;
   border: none;
   border-radius: 8px;
   font-size: 11pt;
   color: #161616;
}
.container {
  max-width: 100%;
  height: 100%;
  padding: 15px;
  margin-bottom: 20px;
}

#new {
  text-align: center;
  width: 50px;
  height: auto;
  line-height: 21px;
  border-bottom: 3px solid grey;
  margin: 0;
  padding-top: 6px;
  font-family: var(--Dhurjati-font);
  font-size: 20pt;

}

#new-container {
  margin: 10px 0 10px 0;
  max-width: 100%;
  margin-bottom: 10px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 10px;
}

.new1 {
  min-width: 130px;
  height: auto;
  position: relative;
  border-radius: 4px;
  padding: 8px;
  overflow: hidden;
}
.new1:active {
  background: #B3CEFF;
}

.new1 img {
  width: 100%;
  height: 230px;
  border-radius: 4px;
}

.new1 #title {
  width: 100%;
  font-size: 10pt;
  font-family: var(--poppins-font);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}

.item-info {
  max-width: 100%;
  height: 100%;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.item-info>span {
  width: auto;
  height: auto;
  background: #FF2E6B;
  padding: 5px;
  border-radius: 5px;
  color: ghostwhite;
  font-size: 6pt;
  text-align: center;
  font-family: var(--poppins-font);
}
.new1:nth-child(n+11) {
   display: none;
}
footer {
  max-width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center
}
/* Page */
.info-page{
   max-width: 100%;
   height: 100%;
}
.page-cover-container{
   max-width: 100%;
   height: 350px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
}
#cover{
   width: 150px;
   height: auto;
   border-radius: 8px;
}
#title{
   max-width: 300px;
   height: auto;
   margin-top: 8px;
   text-align: center;
   font-size: 15pt;
   font-family: var(--poppins-font);
}
.information, .volumes-container{
   max-width: 100%;
   height: auto;
   padding: 10px 20px;
}
.info{
   max-width: 100%;
   margin: 7px 0 7px 0;
}
.info > span{
   font-size: 12pt;
   color: #D07D10;
   font-weight: 700;
   font-family: var(--poppins-font);
}
#type, #genres, #synopsis{
   color: var(--default-color);
   font-weight: 500;
}
.volumes-container h3{
   font-size: 17pt;
   font-family: var(--Dhurjati-font);
}
#volumes{
   max-width: 100%;
   height: auto;
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
   grid-gap: 7px;
}
#volumes > li{
   width: 90px;
   height: auto;
   padding: 7px 10px;
   border-radius: 5px;
   background: #404350;
   text-align: center;
   font-family: var(--poppins-font);
   font-size: 10pt;
}
#volumes > li:active{
   background: #A1ABDF;
}