* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier Prime', monospace;
    color: var(--third-color);
    background-color: var(--primary-color);
}

:root {
    --primary-color: white;
    --secondary-color: #e9e9e9;
    --third-color: black;
    --fourth-color: rgba(232, 232, 232, 0.9);
}
/* D na mag dark mode */

header {
    background-color: var(--secondary-color);
    width: 100%;
    height: 60px;
}

#header-menu {
    display: none;
    float: right;
    margin: 22px 40px 0 10px;
}

#header-menu ul {
    text-decoration: none;
}

#header-menu li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

#header-menu li a {
    text-decoration: none;
    color: var(--third-color);
}

#header-menu li a:hover {
    color: red;
    text-decoration: underline;
    text-decoration-color: red;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
}

input[type=text], select {
    font-size: 13px;
    margin: 16px 10px 0 0;
    width: 250px;
    height: 30px;
    border-radius: 4px;
    padding: 10px;
    outline: none;
    float: right;
    background-color: var(--primary-color);
    color: var(--third-color); 
}

::placeholder {
  font-size: 13px;
  font-family: 'Courier Prime', monospace;
  color: var(--third-color); 
}

#check {
    display: none; 
}

#bars {
    float: left;
    font-size: 23px;
    cursor: pointer;
    margin: 18px 0 0 15px;
}

#search {
    float: right;
    font-size: 20px;
    cursor: pointer;
    margin: 20px 10px 0 0;
}

h2 {
    display: none;
}

h2 a {
    text-decoration: none;
    color: var(--third-color);
}

h2 a:hover {
    color: red;
    transition: color 1s ease;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    -o-transition: color 1s ease;
}

#icon {
    float: right;
    width: 25px;
    height: 25px;
    margin: 18px 15px 0 0;
    cursor: pointer;
}

#check:checked ~ nav{
    left: 0;
}

#navbar {
    width: 140px;
    height: auto;
    left: -150px;
    background-color: var(--secondary-color);
    overflow: hidden;
    border-top: 1px solid #D3D3D3;
    position: absolute;
    z-index: 2;
    transition: left 0.5s ease;
    -webkit-transition: left 0.5s ease;
    -moz-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
}

nav ul {
    list-style: none;
}

nav ul li {
    margin: 20px 0 20px 10px;
}

nav ul li a {
    text-decoration: none;
    color: var(--third-color); 
}

#new {
    text-align: center;
    width: 40px;
    height: 30px;
    border-bottom: 3px solid var(--third-color);
    margin: 15px 0 20px 15px;
    padding-top: 6px;
    z-index: 1;
}

#Recommend {
    text-align: center;
    width: 105px;
    height: 30px;
    border-bottom: 3px solid var(--third-color);
    margin: 15px 0 20px 15px; 
    padding-top: 6px;
}

#Favourite {
    text-align: center;
    width: 115px;
    height: 30px;
    border-bottom: 3px solid var(--third-color);
    margin: 15px 0 20px 15px; 
    padding-top: 6px;
}

#new-container {
    max-width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-content: center;
}

#recommend-container {
    max-width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-content: center;
}

#favourite-container {
    max-width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-content: center;
}

.content {
    width: 150px;
    height: auto;
    border-radius: 5px;
    color: var(--third-color);
    text-align: center;
    margin: 10px;
    position: relative;
}

.content-image {
    width: 140px;
    height: 180px;
    border-radius: 5px;
    border: 1px solid #D3D3D3;
}

.content-title {
    color: var(--third-color); 
    height: auto; 
    display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}

.content-title a {
    text-decoration: none;
    color: var(--third-color);
}
#new-container .content:nth-child(n+9){
  display: none;
}
#recommend-container .content:nth-child(n+17){
  display: none;
}
#favourite-container .content:nth-child(n+17){
  display: none;
}
.topType{
   min-width: 100%;
   height: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   position: absolute;
   padding: 2px 8px;
   top: 0;
   left: 0;
   z-index: 0;
}
.topType span{
   font-size: 6pt;
   color: #fff;
   padding: 5px;
   width: auto;
   height: auto;
   background: #D8075C;
   border-radius: 5px;
}
.errorCon{
   max-width: 100%;
   height: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
}
/* Page Styling */

.page-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.page-info {
    text-align: center;
    padding: 10px 10px;
    width: 350px;
    height: auto;
    border-radius: 3px;
    box-shadow: 0 0 5px var(--third-color);
}

.page-title {
    height: auto;
    margin: 20px 0 30px 0;
}

.page-img {
    width: 250px;
    height: 350px;
    border-radius: 3px;
    border: 1px solid #D3D3D3;
}

.page-sections {
    width: auto;
    margin: 30px 0 10px 0;
    color: red;
}

.sections-info {
    height: auto;
    margin-bottom: 20px;
}

.sections-info a {
    color: red;
}

#download {
    margin-bottom: 20px;
}

/* List Styling */

.list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.list {
    padding: 10px 10px;
    width: 350px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--third-color);
}

.list h3 {
    text-align: center;
    color: red;
}

.list ul {
    list-style: square;
}

.list ul li {
    margin: 10px 0 10px 15px;
}

.list ul li a {
    color: var(--third-color);
    text-decoration: none;
}

.list ul li a:hover {
    color: red;
    text-decoration: underline;
    text-decoration-color: red;
    transition: all 1s ease;
}

.list ul li a:visited {
    color: #454545;
}

.title-style {
    width: 140px;
    border-bottom: 2px solid red;
    margin: 20px 0 30px 95px;
}

.comment-container{
  width: 350px;
  height: auto;
  padding: 20px 10px;
}

#page-loader{
   max-width: 100%;
   min-height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}
.loader {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.75s, visibility 0.75s;
}
.loader--hidden {
  opacity: 0;
  visibility: hidden;
}
.loader::after {
  content: "";
  width: 30px;
  height: 30px;
  border: 6px solid #dddddd;
  border-top-color: #B05701;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

footer {
    max-width: 100%;
    background-color: rgba(0,0,0,0.8);
    color: white;
    text-align: center;
    height:120px;
    padding: 10px;
    margin-top: 10px;
}

footer h5 {
    margin: 20px 0 15px 0;
}

/* Search Styling */

.search-result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 40px 10px 50px 10px;
    padding: 10px 0;
}

.result-container {
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-content: center;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
@media only screen and (min-width: 768px) {
    #new-container {
        grid-template-columns: auto auto auto auto;
    }

    #recommend-container {
        grid-template-columns: auto auto auto auto;
    }

    #favourite-container {
        grid-template-columns: auto auto auto auto;
    }

    .page-info {
        width: 400px;
    }

    .page-img {
        width: 300px;
        height: 400px;
    }

    .list {
        width: 400px;
    }

    .title-style {
        margin-left: 120px;
    }

    .list ul li {
        margin-left: 20px;
    }

    footer {
        height: 110px;
    }

    footer h5 {
        margin-bottom: 25px;
    }

    .result-container {
        height: auto;
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: center;
        align-content: center;
    }

    .comment-container {
        width: 400px;
}

@media only screen and (min-width: 1000px) {
    #bars {
        display: none;
    }

    h2 {
        display: block;
        float: left;
        margin: 18px 0 0 60px;
    }
    
    #header-menu {
        display: block;
    }

    #new {
        margin-left: 20px;
    }

    #Recommend {
        margin-left: 20px;
    }

    #Favourite {
        margin-left: 20px;
    }

    #search {
        margin-left: 5px;
    }

    #new-container {
        grid-template-columns: auto auto auto auto auto auto auto auto;
    }

    #recommend-container {
        grid-template-columns: auto auto auto auto auto auto auto auto;
    }

    #favourite-container {
        grid-template-columns: auto auto auto auto auto auto auto auto;
    }

    .list {
        width: 500px;
    }

    .title-style {
        margin-left: 170px;
    }

    .list ul li {
        margin-left: 20px;
    }

    footer {
        height: 100px;
    }

    .result-container {
        height: auto;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        justify-content: center;
        align-content: center;
    }
}
