* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier Prime', monospace;
    color: var(--third-color);
    background-color: var(--fourth-color);
}

:root {
    --primary-color: white;
    --secondary-color: #e9e9e9;
    --third-color: black;
    --fourth-color: rgba(232, 232, 232, 0.9);
}
/* D maganda colors sa dark theme */
/* .dark-theme {
    --primary-color: black;
    --secondary-color: black;
    --third-color: white;
    --fourth-color: rgb(29, 28, 28);
} */

header {
    background-color: var(--primary-color);
    width: 100%;
    height: 60px;
}

#header-menu {
    display: none;
    float: right;
    margin: 22px 40px 0 10px;
}

#header-menu ul {
    text-decoration: none;
}

#header-menu li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

#header-menu li a {
    text-decoration: none;
    color: var(--third-color);
}

#header-menu li a:hover {
    color: red;
    text-decoration: underline;
    text-decoration-color: red;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
}

input[type=text], select {
    font-size: 13px;
    margin: 16px 15px 0 0;
    width: 250px;
    height: 30px;
    border-radius: 4px;
    padding: 10px 10px 8px 10px;
    outline: none;
    float: right;
    background-color: var(--primary-color);
    color: var(--third-color); 
}

::placeholder {
  font-size: 12px;
  font-family: 'Courier Prime', monospace;
  color: var(--third-color); 
}

#check {
    display: none; 
}

#bars {
    float: left;
    font-size: 23px;
    cursor: pointer;
    margin: 18px 0 0 15px;
}

h2 {
    display: none;
}

h2 a {
    text-decoration: none;
    color: var(--third-color);
}

h2 a:hover {
    color: red;
    transition: color 1s ease;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    -o-transition: color 1s ease;
}

#icon {
    float: right;
    width: 25px;
    height: 25px;
    margin: 18px 15px 0 0;
    cursor: pointer;
}

#check:checked ~ nav{
    left: 0;
}

#navbar {
    width: 140px;
    height: auto;
    left: -150px;
    background-color: var(--primary-color);
    overflow: hidden;
    border-top: 1px solid var(--third-color);
    position: absolute;
    z-index: 2;
    transition: left 1s ease;
    -webkit-transition: left 1s ease;
    -moz-transition: left 1s ease;
    -o-transition: left 1s ease;
}

nav ul {
    list-style: none;
}

nav ul li {
    margin: 20px 0 20px 10px;
}

nav ul li a {
    text-decoration: none;
    color: var(--third-color); 
}

#new {
    text-align: center;
    width: 40px;
    height: 30px;
    border-bottom: 3px solid var(--third-color);
    margin: 15px 0 20px 15px;
    padding-top: 6px;
    z-index: 1;
}

#Recommend {
    text-align: center;
    width: 105px;
    height: 30px;
    border-bottom: 3px solid var(--third-color);
    margin: 15px 0 20px 15px; 
    padding-top: 6px;
}

#Favourite {
    text-align: center;
    width: 115px;
    height: 30px;
    border-bottom: 3px solid var(--third-color);
    margin: 15px 0 20px 15px; 
    padding-top: 6px;
}

#new-container {
    max-width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-content: center;
}

#recommend-container {
    max-width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-content: center;
}

#favourite-container {
    max-width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-content: center;
}

.content {
    width: 150px;
    height: auto;
    border-radius: 5px;
    color: var(--third-color);
    text-align: center;
    margin: 10px;
}

.content-image {
    width: 140px;
    height: 180px;
    border-radius: 5px;
    border:1px solid var(--third-color);
}

.content-title {
    color: var(--third-color); 
    height: 30px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

/* Page Styling */

.page-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.page-info {
    text-align: center;
    padding: 10px 10px;
    width: 350px;
    height: auto;
    border: 1px solid var(--third-color);
    border-radius: 5px;
    background-color: var(--primary-color);
    box-shadow: 5px 5px 10px var(--third-color);
}

.page-title {
    height: auto;
    margin-bottom: 10px;
}

.page-img {
    width: 250px;
    height: 350px;
    border-radius: 5px;
    border: 1px solid var(--third-color);
}

.page-sections {
    width: auto;
    margin: 30px 0 10px 0;
    color: red;
}

.sections-info {
    height: auto;
    margin-bottom: 20px;
}

.sections-info a {
    color: red;
}

#back-btn {
    text-align: left;
    margin: 0 0 20px 5px;
}

#back-btn a {
    color: red;
    text-decoration: none;
}

#download {
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    h2 {
        display: block;
        float: left;
        margin: 18px 0 0 110px;
    }

    #new-container {
        grid-template-columns: auto auto auto auto;
    }

    #recommend-container {
        grid-template-columns: auto auto auto auto;
    }

    #favourite-container {
        grid-template-columns: auto auto auto auto;
    }

    .page-info {
        width: 400px;
    }

    .page-img {
        width: 300px;
        height: 400px;
    }
}

@media only screen and (min-width: 1000px) {
    #bars {
        display: none;
    }

    h2 {
        margin-left: 40px;
    }

    #header-menu {
        display: block;
    }

    #new {
        margin-left: 20px;
    }

    #Recommend {
        margin-left: 20px;
    }

    #Favourite {
        margin-left: 20px;
    }

    #search {
        margin-left: 5px;
    }

    #new-container {
        grid-template-columns: auto auto auto auto auto auto auto auto auto;
    }

    #recommend-container {
        grid-template-columns: auto auto auto auto auto auto auto auto;
    }

    #favourite-container {
        grid-template-columns: auto auto auto auto auto auto auto auto;
    }

    /* .page-info {
        width: 600px;
    }

    .page-img {
        width: 400px;
        height: 500px;
    } */
}
